@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Patrick Hand', cursive;
    box-sizing: border-box;
    color: black;
}

input[type="text"],
input[type="password"],
textarea,
select {
    outline: none;
}


.none {
    display: none;
}

body {
    background-color: rgba(52, 193, 193, 0.543);
    width: 100vw;
    padding: 25px 10px;
    overflow-x: hidden;
}

.todolist {
    background-color: rgb(70, 68, 68);
    margin: 0 auto;
    padding: 15px 15px;
    border-radius: 5px;
    width: 33%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

.todolist__mark {
    text-align: center;
    margin-bottom: 20px;
}

/* .todolist__marked { */
            /* background-color: rgb(70, 68, 68);
            margin: 0 auto;
            padding: 15px 15px;
            border-radius: 5px;
            width: 33%;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
            /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
        
/* } */



.todolist__task {
    position: relative;
    background-color: rgba(12, 255, 141, 0.8);
    margin-bottom: 15px;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    opacity: 0;
    height: 125px;
    animation: ani 0.5s forwards;
}

.todolist__task-text {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    font-size: 17px;
}

.todolist__task:last-child {
    margin-bottom: 0px;
}

.todolist__task-btns {
    display: flex;
    align-items: center;
}

.todolist__task-btn {
    border: none;
    padding: 5px 5px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.todolist__task-btn:hover {
    opacity: 0.8;
}
.todolist__task-btn:last-child {
    margin-right: 0px;
}


.todolist__task-btn--delete {
    background-color: rgb(251, 84, 84);
}

.todolist__task-btn--update {
    background-color: rgb(233,213, 47, 0.9);
    font-size: 15px;
}

.todolist__task-todo-number {
    position: absolute;
    right: 5%
}

.todolist__text--marked {
    background-color: orange;
}

.form__todolist {
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.form__todolist > input {
    border: none;
    border-radius: 10px;
    outline-color: rgb(221, 205, 185);
    outline-width: 0.130px;
    box-shadow: rgba(12, 255, 141, 0.8) 0px 3px 3px;
    padding: 5px 10px;
    font-size: 18px;
    width: 20%;
}

.form__todolist>p {
    font-size: 46px;
}

.form__todolist > button {
    border: none;
    border-radius: 10px;
    padding: 5px 5px;
    cursor: pointer;
    box-shadow: rgba(12, 255, 141, 0.8) 0px 3px 3px;
    background-color: rgb(123, 186, 186);
    width: 10%;
    font-size: 16px;
}

.form__todolist>button:hover {
    opacity: 0.7;
}


.todolist__clear {
    text-align: center;
    font-size: 30px;
}


/* .todolist__marked {
    text-align: center;
    margin-bottom: 20px;
} */


.todolist__mark-btn-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}



.todolist__mark-btn {
    border: none;
    padding: 5px 5px;
    border-radius: 10px;
    background-color: yellow;
}


@keyframes ani {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}